@import '_var.scss';
@import 'modules/header';

//
//Styles for the mobile version
body{
    position: relative;
    background-color:red;
    font-family: Arial, "Montserrat";
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100%;
}

.container{
    width:300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

//Styles for HERO Section
.hero-section{
    background:url(../images/taycan.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title{
    color:#ffffff;
    font-weight:700;
    font-size:39px;
}

.hero-subtitle{
    color:#ffffff;
    font-weight:300;
    font-size:16px;
    margin-top:10px;
}

.hero-btn{
    margin-top:40px;
    width:170px;
    height:40px;
    border-radius: 30px;
    background-color:#ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-btn-text{
    color:$main-blue;
    font-weight:700;
    font-size:16px;
}

//Styles for BENEFITS Section
.benefits-section{
    background:url(../images/2d-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.benefits-title{
    color:$main-blue;
    font-weight:700;
    font-size:30px;
    margin-bottom: 30px;
}

.slider{
    height:300px;
    width:100%;
    background-color: $main-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.slider-container{
    width:100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: nowrap;
}

.slider-sections{
    display: flex;
    flex-direction: row;
    align-items:center;
    position: relative;
    width:900px;
    transition: all 0.8s ease-in-out;
}

.slider-section{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-section-icon{
    margin-top:25px;
    height:120px;

    img{
        height:100%;
    }
}

.slider-section-title{
    color:#ffffff;
    font-weight:700;
    font-size:30px;
    margin-top:20px;
}

.slider-section-desc{
    color:#ffffff;
    font-weight:300;
    font-size:16px;
    margin-top:10px;
}

.slider-controls{
    border-top: 1px solid #ffffff;
    display: flex;
    width:100%;
    height:50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slider-controls-left{
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controls-line{
    width:1px;
    height:100%;
    background-color: #ffffff;
}

.slider-controls-right{
    height:100%;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-btn-img{
    height:50%;
}

//Styles for VIDEO Section
.video-section{
    background:url(../images/3d-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    video{
        width:300px;
        height: 300px;
    }
}

//
//Styles for TABLET version
@media screen and (min-width:720px){
    .container{
        width:720px;
    }

    //Styles for HERO Section
    .hero-title{
        font-size: 80px;
    }

    .hero-subtitle{
        font-size:30px;
        margin-top:20px;
    }

    .hero-btn{
        margin-top:80px;
        width:240px;
        height:60px;
    }

    .hero-btn-text{
        font-size: 20px;
    }

    //Styles for BENEFITS Section
    .benefits-title{
        font-size: 50px;
        margin-bottom: 70px;
    }

    .slider{
        height:450px;
    }

    .slider-section-icon{
        margin-top:60px;
    }

    .slider-section-title{
        font-size: 50px;
        margin-top:20px;
    }

    .slider-section-desc{
        font-size:26px;
        margin-top:20px;
    }

    .slider-section{
        width:720px;
    }

    .slider-sections{
        width:2160px;
    }

    .slider-controls{
        height:100px;
    }

    //Styles for the VIDEO Section
    .video-section{
        video{
            width:720px;
            height:400px;
        }
    }
}

//
//Styles for DESKTOP version
@media screen and (min-width:1200px){

    .container{
        width:1200px;
    }

    //Styles for HERO Section
    .hero-btn{
        transition: background-color 0.8s ease-in-out;
    }

    .hero-btn-text{
        transition: color 0.8s ease-in-out;
    }

    .hero-btn:hover{
        background-color: $main-blue;

        .hero-btn-text{
            color:#ffffff;
        }
    }

    //Styles for the BENEFITS Section
    .slider-section{
        width:1200px;
    }

    .slider-sections{
        width:3600px;
    }

    //Styles for the VIDEO Section
    .video{
        width:1200px;
        height:500px;
    }

}